@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

/* Colors */

:root {
    --blue: #b4d7d9;
    --blue-3: #FBFEFE;
    --yellow: #ECE4CF;
    --gray: #6B6263;
    --gray-light: #968B8C;
    --primary: var(--blue);
    --primary-light: rgb(251, 254, 254);
    --primary-light-90: rgba(251, 254, 254, .9);
    --transparent: rgba(251, 254, 254, 0);
    --primary-dark: #508E91;
    --primary-color: var(--blue-3);
    --primary-blur: #CBCCCC;
    /*--primary-blur: #728181;*/
    --accent-color: var(--blue);
    --font-color: var(black);

    --nav-height: 85px;

    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;
    --header-5: 28px;

    --text-large: 22px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--primary-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

.navbar {
    background-color: var(--transparent);
    transition: background-color 2s ease;
}

.fixed-top {
    background-color: var(--primary-light-90);
}

.nav-link {
    color: var(--font-color);
    text-transform: uppercase;
    font-size: var(--text-light);
    font-weight: var(--font-weight-medium);
    margin: 1.2rem 1rem;
    text-decoration: none;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,0)
    ), linear-gradient(var(--primary-dark), var(--primary-dark));
    background-size: 20px 1px, 100% 2px, 0 1px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s linear, background-position 0.2s linear;
    color: var(--font-color);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--primary-dark);
    background-size: 20px 1px, 0 1px, 100% 1px !important;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100% !important;
}

.nav-link.active {
    color: var(--primary-dark) !important;
    background-size: 20px 1px, 0 1px, 100% 1px !important;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100% !important;
}

/* Socials nav */

.cls-1 {
    stroke-miterlimit:10;
}

.cls-1,
.cls-2 {
    fill:none;
    stroke:var(--primary-dark);
    stroke-width:15px;
}

.cls-2 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.logo-img {
    width: 75px;
    height: 75px;
}

.border-bottom {
    border-bottom: 1px solid var(--gray) !important;
}

.offcanvas.offcanvas-start {
    border-right: 1px solid var(--gray)90;
}

.btn-close-white {
    color: var(--gray);
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.btn-primary:active {
    background-color: var(--primary-dark) !important;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    color: var(--font-color);
}

.btn-primary:focus {
    background-color: var(--yellow);
    color: var(--font-color);
}

.btn-primary:hover {
    background-color: var(--yellow);
    color: var(--font-color);
}

.btn-primary-dark {
    background-color: var(--primary-dark);
}

.btn-primary-dark:hover {
    background-color: var(--primary-color);
    color: var(--primary-dark);
}

.btn-secondary {
    background-color: var(--gray-light);
    color: white;
    border: none;
}

.btn-secondary:focus {
    background-color: white;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray);
}

.btn-secondary:hover {
    background-color: white;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray);
}

.btn-service {
    background-color: white;
    color: var(--font-color);
    border: none;
}

.btn-service:focus {
    background-color: white;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray);
}

.btn-service:hover {
    background-color: var(--blue);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray);
}

.btn-close:focus {
    opacity: 0.5;
}

#offcanvasNavbarLabel {
    color: var(--gray);
}

.social-link {
    color: var(--font-color) !important;
    font-size: 1.2rem;
    transition: transform .2s ease;
}

.social-link:hover {
    transform: scale(1.2);
}

.bg-secondary-nat {
    background:url('assets/images/untitled.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.bg-primary-nat {
    background-color: var(--primary-color);
}

section {
    scroll-snap-align: start;
    scroll-margin-top: 120px;
}

/* Section Hero */

.navbar.fixed-top + section.hero {
    padding-top: var(--nav-height);
}

section.hero {
    padding-top: 0;
    margin: 5rem 0
}

.service-background {
    background-color: var(--primary-dark);
}

.text-hero-bold,
.text-hero-regular,
.text-about-bold,
.text-about-regular,
.text-services-bold,
.text-contact-bold,
.text-work-bol {
    margin: 24px 0;
}

.text-label {
    font-size: var(--text-large);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
    margin-top: 24px;
}

.text-about-bold,
.text-services-bold,
.text-contact-bold,
.text-work-bold {
    color: var(--font-color);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-bold {
    color: var(--font-color);
    font-size: var(--header-2);
    font-weight: var(--font-weight-bold);
    line-height: 67px;
    width: 50%;
}

.text-hero-regular,
.text-about-regular {
    color: var(--font-color);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-wrapper {
    width: 50%;
}

.text-service {
    color: var(--primary-light);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-medium);
    line-height: 27px;
}

.text-form-subheader {
    color: var(--font-color);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    line-height: 40px;
}

.text-subheader {
    color: var(--primary-light);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-bold);
    line-height: 30px;
    margin: 2rem 0;
}

/* */

section.about,
section.services {
    margin: 5rem 0
}

.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    padding: 10px 40px;
    color: var(--blue-3);
    z-index: 1000;
}

.carousel-item img {
    min-width: 800px;
    height: auto;
  }


/* RESPONSIVE DESIGN */

@media (min-width: 1399.98px) {
    .container {
        width: 84%;
    }
}

textarea {
    height: 100% !important;
}



/* Tablet medium $ large version only */



@media (max-width: 1200px) {
    .text-hero-regular {
        font-size: 13px;
    }

    section.hero,
    section.about,
    section.services,
    section.contact,
    section.work,
    section.blog {
        margin: 1rem 0;
    }

    .text-hero-bold,
    .text-about-bold,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold,
    .text-blog-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    #carouselExampleIndicators {
        width: 100% !important;
    }
}


@media (max-width: 992px) {
    .about-image-container {
        order: 10;
    }

    .text-hero-regular {
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 30px;
    }

    .text-hero-bold {
        width: 100%;
    }

    .banner-content {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    section.hero,
    section.about,
    section.services,
    section.contact,
    section.work,
    section.blog {
        margin: 1rem 0;
    }

    .text-hero-bold,
    .text-about-bold,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold,
    .text-blog-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    /* Tablet small version only */

    
}

@media (max-width: 768px) {
    .banner-content {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .text-hero-bold {
        width: 100%;
    }

    .about-image-container {
        order: 10;
    }

    section.hero {
        margin: 1rem 0;
    }

    .text-hero-bold,
    .text-about-bold,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold,
    .text-blog-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-4);
        line-height: 64px;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular,
    .text-about-bold,
    .text-about-regular,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold {
        text-align: center;
    }
}

/* Mobile version */

@media (max-width: 576px) {

    section.hero,
    section.about {
        margin: 2rem 0;
        text-align: center;
    }

    .btn {
        display: block;
        margin: 1rem 0;
    }

    .ms-3 {
        margin-left: 0 !important;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular
    .text-about-bold,
    .text-about-regular,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold {
        text-align: center;
    }

    .text-hero-bold,
    .text-about-bold,
    .text-services-bold,
    .text-contact-bold,
    .text-work-bold,
    .text-blog-bold {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    .text-hero-bold {
        font-size: var(--header-5);
    }

    .text-hero-regular {
        margin-top: 0;
        font-size: 13px;
    }
}
